<div class="container">
             <h2>Welcome, {{ vm.title }}</h2>
             <p> This is the Partner site for Clean Slate DC.  </p>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
            <div class="col-md-4">
                <h2>Clients</h2>
                <p> Manage clients </p>
                <p><a class="btn btn-default" ui-sref="clients" role="button">16-803 Analysis </a></p>
            </div>    
        </div>
       </div>
    </div>   
            <div class="panel-group" id="accordion" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How long would it take to seal my criminal history?</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseOne">
                  <div class="panel-body">
                              <p>Here is a short video that explains the process of sealing. It can take between 4 months to a year.</p><iframe width="560" height="315" src="https://www.youtube.com/embed/jcEu8e9QtZ4" frameborder="0" allowfullscreen></iframe> 
</div></div></div>
<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title" ng-click="toggleCollapse()" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What does it mean to seal a DC Criminal Record? How can I learn more about sealing.</h4>
                </div>
                <div class="panel-collapse collapse" id="collapseTwo">
                  <div class="panel-body">  
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aUYSwfgy0fk" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
            </div> </div>
    
