<div class="container">
             <h2>Welcome, {{ vm.title }}</h2>
             <p> This is the Partner site for Clean Slate DC.  </p>
    <div class="container">
     
      <div class="row">
           
  
<h1>Sealing and Expungement Options</h1>

<div ng-app id="ng-app">
    <hr />
    <a href="#" ng-model="collapsed" ng-click="collapsed=!collapsed">16-803 Anaylsis</a>
    <div ng-show="collapsed">Sealing Convictions and Non-Convicions
    <p><a class="btn btn-default" ui-sref="clients" role="button">16-803 Analysis </a></p></div>
    <hr />
    
   <hr />
    <a href="#" ng-model="collapsed1" ng-click="collapsed1=!collapsed1">Seal Marijuana</a>
    <div ng-show="collapsed1">Quick test to seal marijuana based on new law
    <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item"
                        src="http://codefordc.org/clean-slate/#/eligibility/401"
                        frameborder="0"
                        allowfullscreen></iframe></div>
            </div>
    <hr />
    
   
</div>
         </div>  
        </div>
       </div>
