<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Succeed <span class="text-uppercase">with</span> a Criminal History Record</h1>
                <p>
                    Choose a link below to find out how we can help!
                </p>
                    <div class="row">
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/13.jpg" class="img-responsive" alt="Is sealing my criminal record right for me? Are there employers that will hire me?"/>
            <a class="btn btn-primary btn-lg" ui-sref="faqs">Should I Disclose or Seal My Record?</a>
      </div>
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/14.jpg" class="img-responsive" alt="How do I contact a lawyer to figure out if any of my arrests or convictions can be removed?"/>
            <a class="btn btn-primary btn-lg" ui-sref="screener">Determine My Eligibility to Seal My Record</a>
        </div>
    </div>
  </div>
</div>
    </div>
  </div>
