<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>You Can Succeed WITH a Criminal History Record</h1>
                <p>You may be able to seal your criminal record. When a DC criminal record is sealed, the government deletes or limits access to it. A sealed record can generally not be used against you if are applying for a job, in other background checks or in certain legal proceedings. A lawyer can help determine if you are eligible.                     
                </p>
                <p>
                    This website can help you decide if you want to seal your record and, if you do, connect you with a lawyer who can help.
                </p>
            
            <!--        <div class="row">
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/13.jpg" class="img-responsive"/> -->
            <a class="btn btn-primary btn-lg" ui-sref="faqs">Should I Seal My Record?</a> 
            <a class="btn btn-secondary btn-lg" ui-sref="screener">I'm Ready—Connect Me with a Free Lawyer</a> 
      <!--</div>
                <div class="col-sm-6 col-md-6" style="text-align: center;">
        <img src="img/14.jpg" class="img-responsive"/>
            <a class="btn btn-primary btn-lg" ui-sref="screener">Determine My Eligibility to Seal My Record</a> 
        </div>
    </div>-->
  </div>
</div>
    </div>
  </div>

