
<div class="jumbotron">
  <h1>Do <strong>you</strong> have a criminal history record?</h1>
	<h2>You can a still <strong>succeed</strong> in today's world.</h2>
  <p>Clean Slate is a resource to help people with criminal records find success in their futures.</p>
	<!--<p><a ui-sref="screener">> Start Sealing Your Record</a></p>-->
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="../img/cleanslate2.png" alt="...">
      <div class="caption">
        <h2>Should I have my record sealed?</h2>
        <p>Clean Slate can help you determine the best course of action for your history record. In many cases, sealing your record is not only possible, but the best course of action to broaden your future options. Other times, disclosure is the best path to be hired by potential employers. Click below to find where you fit.</p>
        <p><a ui-sref="faqs" class="btn btn-primary" role="button">Learn More</a></p>
      </div>
    </div>
	</div>
	<div class="col-sm-6 col-md-6">
		<div class="thumbnail">
			<img src="../img/cleanslate1.png" alt="...">
			<div class="caption">
				<h2>Am I eligible?</h2>
				<p>Getting in touch with a lawyer can be tedious. Clean Slate is here with our web service to help you determine your eligilbity to have your record sealed. Simply fill out our form to get started.</p>
				<p><a ui-sref="screener" class="btn btn-primary" role="button">Find Out Now</a></p>
			</div>

		</div>
  </div>
</div>

    <script src="https://form.jotform.com/static/feedback2.js?3.3.REV" type="text/javascript"> new JotformFeedback({
        formId: "62857400284154",
        buttonText: "Contact Us",
        base: "https://form.jotform.com/",
        background: "#F59202",
        fontColor: "#FFFFFF",
        buttonSide: "bottom",
        buttonAlign: "right",
        type: false,
        width: 700,
        height: 500
      });
    </script>
