<div class="container">
    
<h2>Clients</h2>


<p>
    The following clients have been added for your clinic.
</p>

     <button ui-sref="newClient" class="btn btn-success">Add New Client</button>
               
<ul>
    <li ng-repeat="client in clients">
        {{ client.clientID }} -  {{ client.status }} {{ client.determination }}
    </li>
    
</ul>
    </div>
<div id='testest' ng-app='App'>
  <div ng-controller='MyAccordionController'>
    <accordion>
      <accordion-group ng-controller='MyAccordionGroupController' heading="Static Header, initially expanded" is-open="true">
        This content is straight in the template.
      </accordion-group>
      <accordion-group ng-controller='MyAccordionGroupController' heading="Dynamic Body Content">
        <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group ng-controller='MyAccordionGroupController' is-open="isopen">
        <accordion-heading>
          I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
      </accordion-group>
    </accordion>
  </div>
</div>

